<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogToConsole="true">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<!--<targets>
		<target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
		        layout="${longdate} CEF:0|GPN|CZ|1.0.0|${mdlc:item=eventClass}|${mdlc:item=eventName}|${level}|src=${mdlc:item=ipAddress} dst=${hostname} suid=${mdlc:item=userId} suser=${mdlc:item=userName} msg=${message} end=${unixtime}|">
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
		</target>
		--><!-- write logs to file  --><!--
		<target xsi:type="File" name="allfile" fileName="c:\temp\nlog-all-${shortdate}.log"
		        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
		<target xsi:type="File" name="file" fileName="output.log"
		        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

		<target name="database" xsi:type="Database"  keepConnection="false" useTransactions="true" dbProvider="Npgsql.NpgsqlConnection, Npgsql"
            connectionString="${environment:CONNECTION_STRING}"
            commandType="Text">
			<commandText>
        INSERT INTO security.USER_ACTIVITY (EVENT_CLASS, EVENT_NAME, MESSAGE, USER_ID, USER_NAME, SERVICE_TYPE, LOG_LEVEL, IP_ADDRESS, LOGGER, CALLSITE)
        SELECT :p_eventClass AS p_eventClass,
        :p_eventName AS p_eventName, :p_message AS p_message, nullif(:p_userId, '')::bigint AS p_userId,
        :p_userName AS p_userName, :p_serviceType::integer AS p_serviceType, :p_loglevel AS p_loglevel,
        nullif(:p_ipAddress, '')::inet AS p_ipAddress, :p_logger AS p_logger, :p_callsite AS p_callsite
        WHERE nullif(:p_eventClass, '') is not NULL;
        INSERT INTO security.LOG (SERVICE_TYPE, MESSAGE, LOG_LEVEL, LOGGER, CALLSITE, EXCEPTION_MSG)
        SELECT :p_serviceType::integer AS p_serviceType, :p_message AS p_message, :p_loglevel AS p_loglevel,
        :p_logger AS p_logger, :p_callsite AS p_callsite, :p_exception  AS p_exception
        WHERE nullif(:p_eventClass, '') is NULL;
      </commandText>
			<parameter name="p_affiliateId" layout="${mdlc:item=affiliateId}" />
			<parameter name="p_eventClass" layout="${mdlc:item=eventClass}" />
			<parameter name="p_eventName" layout="${mdlc:item=eventName}" />
			<parameter name="p_message" layout="${message}" />
			<parameter name="p_userId" layout="${mdlc:item=userId}" />
			<parameter name="p_userName" layout="${mdlc:item=userName}" />
			<parameter name="p_serviceType" layout="${gdc:item=servicetype}" />
			<parameter name="p_loglevel" layout="${level}" />
			<parameter name="p_ipAddress" layout="${mdlc:item=ipAddress}" />
			<parameter name="p_logger" layout="${logger}" />
			<parameter name="p_callsite" layout="${callsite:filename=true:includeSourcePath=false:skipFrames=1}" />
			<parameter name="p_exception" layout="${exception:tostring}" />
		</target>
	</targets>

	--><!-- rules to map from logger name to target --><!--
	<rules>
		<logger name="Gpn.CZ.Web.LogApi.Controllers.*" minlevel="Info" writeTo="database"/>
		<logger name="*" minlevel="Info" writeTo="coloredConsole">
			<filters>
				<when condition="'${mdlc:item=eventClass}' == ''" action="Ignore"/>
			</filters>
		</logger>
		<logger name="*" minlevel="Info" writeTo="file" />
	</rules>-->
</nlog>